ingestion_flows/*/*.pyc
ingestion_flows/__pycache__
ingestion_flows/citybike_data
ingestion_flows/citybike_postgres_data
terraform/*
!*.tf
*.parquet
ingestion_flows/__pycache__/import_citybikes_data_into_postgres.cpython-312.pyc
*.gitkeep
target/
logs/
